body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* estiliza a etiqueta (tooltip) que aparece no hover */
.map-label {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  
  color: #000000;
  font-family: serif;
  font-weight: bold;
  font-size: 15px;
  
  /* Isso faz com que o cursos seja uma maozinha  */
  --leaflet-tooltip-arrow-width: 0px; 
}

/* o balão que abre ao clicar no pin */
.pin-popup-simple .leaflet-popup-content-wrapper {
  background: #FFEFDC;
  border-radius: 10px;
  min-width: 145px;  
  /* borda */
  border: 2px solid #12240D; 
  box-shadow: inset 0 0 0 1px #FBF9F4; 
}

/* Estiliza o conteúdo DENTRO do balao */
.pin-popup-simple .leaflet-popup-content {
  margin: 10px 15px !important; /* Espaçamento interno */
  font-family: Belezza;
  color: #12240D;
}

/* Estiliza a "setinha" do balao */
.pin-popup-simple .leaflet-popup-tip {
  background: #12240D; /* Cor da borda */
}

/* estilo para o novo pin */
.custom-pin-icon {
  /* cor verde do seu botão */
  background-color: #5D7541; 
  
  /* faz o círculo */
  width: 20px;
  height: 20px;
  border-radius: 50%;

  /* borda escura */
  border: 2px solid #12240D;
  /* borda interna clara */
  box-shadow: inset 0 0 0 1px #FFEFDC; 
}


 /* Estilização dos Nomes Fixos das Cidades */
.city-label-marker {
  /* REMOVENDO O FUNDO PADRÃO DO TOOLTIP */
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  transform: translate(-50%, -50%); 
  
  /* Estilização da fonte */
  font-family: 'Belezza', serif;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  
  /* Sombra no texto para legibilidade */
  text-shadow: 
    1px 1px 2px #FFEFDC, 
    -1px -1px 2px #FFEFDC, 
    1px -1px 2px #FFEFDC, 
    -1px 1px 2px #FFEFDC;
}

.map-label {
    background: #FFEFDC;
    color: #000000;
    border-color: #000000;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    font-family: 'Belezza', serif;
    font-weight: normal;
    font-size: 13px;
}