# Dependências do Node (ignora em TODAS as pastas, client e server)
**/node_modules

# Arquivos de ambiente (ignora em TODAS as pastas)
.env
.env.local

# Pasta de build do React
/client/build

# Arquivos de Sistema Operacional (macOS, Windows)
.DS_Store
Thumbs.db
ehthumbs.db

# Arquivos de Editores de Código (VS Code, etc.)
.vscode/
.idea/